.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-fiveunits);
}
.navbar-branding-logo {
  width: 206px;
  height: 60px;
  box-sizing: content-box;
}
.navbar-nav-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-nav-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
}
.navbar-link {
  text-decoration: none;
}
.navbar-link1 {
  text-decoration: none;
}
.navbar-link2 {
  display: contents;
}
.navbar-get-started {
  text-decoration: none;
}
.navbar-text {
  color: rgb(255, 255, 255);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.navbar-hamburger {
  display: none;
}
.navbar-image {
  width: 100px;
  object-fit: cover;
}
.navbar-mobile-menu {
  gap: var(--dl-space-space-twounits);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  background-color: #fff;
}
.navbar-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image1 {
  width: 100px;
  filter: brightness(0) saturate(100%);
  object-fit: cover;
}
.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-icon {
  width: 24px;
  height: 24px;
}
.navbar-nav-links1 {
  gap: var(--dl-space-space-unit);
  color: var(--dl-color-gray-black);
  display: flex;
  flex-direction: column;
}
.navbar-link3 {
  text-decoration: none;
}
.navbar-text1 {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}







@media(max-width: 767px) {
  .navbar-navbar {
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .navbar-branding-logo {
    width: auto;
  }
  .navbar-nav-links {
    display: none;
  }
  .navbar-get-started {
    display: none;
  }
  .navbar-hamburger {
    display: flex;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .navbar-image {
    width: 16px;
    height: 14px;
  }
  .navbar-branding {
    width: 100%;
  }
  .navbar-nav-links1 {
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-branding-logo {
    width: auto;
  }
}

.terms-of-service-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #0C0C0C;
}
.terms-of-service-container1 {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.terms-of-service-text {
  color: #ffffff;
}
.terms-of-service-text001 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
}
.terms-of-service-text003 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text007 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text010 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text013 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text015 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text018 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text021 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text025 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text028 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text031 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text033 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text036 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text039 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text042 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text046 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text049 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text051 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text054 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text058 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text061 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text063 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text066 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text070 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text073 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text076 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text078 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text081 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text085 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text088 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text091 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text093 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text097 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text101 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text104 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text107 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text111 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text114 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text118 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text121 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text124 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text126 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text129 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text132 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text135 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text138 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text140 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text143 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text146 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text149 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text151 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text154 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text157 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text159 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text162 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text165 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text168 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text170 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text173 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text176 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text178 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text181 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text184 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text187 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text190 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text193 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text196 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text199 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text201 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text204 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text207 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text209 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text212 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text215 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text217 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text220 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text223 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text226 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text228 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text231 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text234 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text237 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text240 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text242 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text246 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text249 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text251 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text254 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text257 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text260 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text262 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-text269 {
  color: var(--dl-color-gray-white);
}
.terms-of-service-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.terms-of-service-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.terms-of-service-container2 {
  gap: var(--dl-space-space-unit);
  color: #c4c4c4;
  width: 100%;
  height: 33px;
  display: flex;
  font-size: 12px;
  align-items: flex-start;
  justify-content: center;
}
.terms-of-service-navlink {
  text-decoration: none;
}
.terms-of-service-navlink1 {
  text-decoration: none;
}
.terms-of-service-navlink2 {
  text-decoration: none;
}
.terms-of-service-text280 {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 12px;
  text-align: center;
  font-family: Poppins;
  line-height: 21px;
}
@media(max-width: 767px) {
  .terms-of-service-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .terms-of-service-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .terms-of-service-footer {
    padding: var(--dl-space-space-unit);
  }
  .terms-of-service-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
